# Warning: this is also used as the .dockerignore, and the matching patterns are
# similar but **not quite** the same. If you add a file here, make sure that
# the Docker build still works.

dependencies.txt
nvidia-docker-compose.yml
.cache
build
**/*.pyc
**/*.trace
thirdparty
!thidparty/resources
!thirdparty/CMakeLists.txt
!docker/**/thirdparty
python/*.egg-info
docker/**/deps.sh
docker/**/thirdparty
**/*.mp4
**/*.mkv

python/scannerpy/include
dist