apiVersion: v1
kind: ConfigMap
data:
  config.toml: |
    [storage]
    type = "s3"
    bucket = <BUCKET_NAME>
    db_path = "scanner_dbs/<CLUSTER_NAME>"
    region = "us-west-2"
    endpoint = "s3.us-west-2.amazonaws.com"

metadata:
  name: scanner-configmap
