$p1: #1C1D21;
$p2: #31353D;
$p3: #445878;
$p4: #92CDCF;
$p5: #EEEFF7;

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header {
    overflow:auto;
    padding: 10px;

    > * {
        float: left;
    }

    h1 {
        margin: 0 20px 0 0;
    }

    .dataset-panel, .job-panel {
        height: 40px;
        position: relative;
        top: 4px;
    }

    .dataset-panel {
        margin-right: 10px;
    }

    .dataset-info, .job-info {
        display: inline-block;
        color: $p5;
        background: $p3;
        padding: 5px;
        margin: 2px;
        border-radius: 3px;
        cursor: pointer;
    }
}

.body {
    background: #eee;
    overflow: auto;
    box-sizing: border-box;

    > * {
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        height: 100%;
        overflow-x: hidden;
        position: relative;
    }

    .video-browser {
        //border-right: 3px solid #ccc;
        padding: 20px;
        overflow-y: scroll;
    }

    .video-timeline {
        width: 100;
    }

    .viewer-panel {
        overflow-y: hidden;
    }

    .viewer-controls {
        text-align: center;

        div {
            margin-left: 15px;
            display: inline-block;
        }

        input {
            margin-left: 5px;
        }
    }

    .timeline-axis {
        position: relative;
        height: 100px;
        background-color: transparent;
    }

    .timeline-tick {
        position: absolute;
        border-left: 1px solid;
        border-color: #dedede;
        background-color: transparent;
    }

    .timeline-tick-label {
        position: absolute;
        text-align: center;
    }

    .timeline-pos-indicator {
        text-align: center;
    }

    .bbox-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .bbox-base {
        fill: transparent;
    }
    .bbox-tracked {
        fill: transparent;
    }

}
